.grade1{
    background-color: #009359;
}

.bgcolor{
min-height: 100vh;
background:#ECEFF1;
background: linear-gradient (158deg, rgb(224, 224, 224) 0%, rrgb(233, 237, 254) 100%);
}

.logo{
    display: flex;
    justify-content: space-between;
    margin-left: -110px;
}
.head-text{
    /* color: #b39952; */
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
.dd{
    margin-top: 20px;
   
}
.dd:hover{
    /* background-color: #b39952; */
    width: 100%;
    color: #000;
}
.logout{
    background-color: #25293f;
    /* width: 50px; */
    /* margin-left: 70px; */
    /* margin-right: 20px; */
    color: #fff;
}
